# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.idea/.gitignore
/DesignPatterns/.idea/.gitignore
/out/production/system-design-preparation/.idea/.gitignore
/out/production/system-design-preparation/DesignPatterns/.idea/.gitignore
/out/production/system-design-preparation/SolidPrinciples/.idea/.gitignore
/out/production/system-design-preparation/.gitignore
/SolidPrinciples/.idea/.gitignore
/DesignPatterns/DesignPatterns.iml
/out/production/system-design-preparation/DesignPatterns/DesignPatterns.iml
/out/production/system-design-preparation/LICENSE
/DesignPatterns/src/com/systemdesignpreparation/DesignPatterns/Main.java
/.idea/misc.xml
/DesignPatterns/.idea/misc.xml
/out/production/system-design-preparation/.idea/misc.xml
/out/production/system-design-preparation/DesignPatterns/.idea/misc.xml
/out/production/system-design-preparation/SolidPrinciples/.idea/misc.xml
/SolidPrinciples/.idea/misc.xml
/.idea/modules.xml
/DesignPatterns/.idea/modules.xml
/out/production/system-design-preparation/.idea/modules.xml
/out/production/system-design-preparation/DesignPatterns/.idea/modules.xml
/out/production/system-design-preparation/SolidPrinciples/.idea/modules.xml
/SolidPrinciples/.idea/modules.xml
/out/production/system-design-preparation/README.md
/out/production/system-design-preparation/SolidPrinciples/SolidPrinciples.iml
/SolidPrinciples/SolidPrinciples.iml
/out/production/system-design-preparation/.idea/system-design-preparation.iml
/.idea/uiDesigner.xml
/DesignPatterns/.idea/uiDesigner.xml
/out/production/system-design-preparation/.idea/uiDesigner.xml
/out/production/system-design-preparation/DesignPatterns/.idea/uiDesigner.xml
/.idea/vcs.xml
/DesignPatterns/.idea/vcs.xml
/out/production/system-design-preparation/.idea/vcs.xml
/out/production/system-design-preparation/DesignPatterns/.idea/vcs.xml
/out/production/system-design-preparation/SolidPrinciples/.idea/vcs.xml
/SolidPrinciples/.idea/vcs.xml
